body {
  margin: 0;
  padding: 0;
  background-color: fuchsia;
}

.app {
  text-align: center;
  display: block;
}

#question 
{
  color: white;
}

.answer 
{
  margin: 10px 50px 10px 50px;
  padding: 30px 50px 30px 50px
}
.correctAnswer 
{
  background-color: green;
}
#nextQuestion
{
  height: 25px;
}
button 
{
  min-width: 200px;  
}
.cardImg
{
  height: 100px;
}