body {
  margin: 0;
  padding: 0;
  background-color: fuchsia;
}

.app {
  text-align: center;
}

#question 
{
  color: white;
}

button 
{
  display: flex;
  margin: 5%;
  padding: 10px 10px 10px 10px
}
